@model P_CMS.Models.RegisterViewModel
<style>
    .lblProducts {
        color: green !important;
        margin-bottom: 0px !important;
        font-weight: normal !important;
        line-height: 0px !important;
    }
</style>
@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<div>
    <h4>Account Details</h4>
    <hr />@Html.HiddenFor(model => model.selectedProduct, htmlAttributes: new { @id = "selectedProduct" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        @if (Model.Products != null && Model.Products.Count() > 0 && (!string.IsNullOrEmpty(Model.selectedProduct)))
        {
        <dt>
            Assigned Products
        </dt>
            <dd>
                <div id="dvManagerProducts">
                    <div class=" dvManagerProducts">
                        @foreach (var item in Model.Products)
                        {
                            <label class="lblProducts hidden" id="@item.ProductId">@item.ProductName</label><br />
                        }
                    </div>
                </div>

            </dd>}
    </dl>
</div>
<p>
    @Html.ActionLink("Back", "Index")
</p>
@section Scripts {
    <script>
        var productArray = [];
        $(document).ready(function () { setAssignedProducts(); });
        function setAssignedProducts() {
            var selectedProducts = $('#selectedProduct').val();
            if (selectedProducts != '') {
                productArray = selectedProducts.split(",");
                if (productArray.length > 0) {
                    checkSelecetedProducts(productArray);
                }
            }
        }

        function checkSelecetedProducts(selectedProductArray) {
            $(".lblProducts").each(function () {
                var currentProductId = $(this).attr('id');
                if ($.inArray(currentProductId, selectedProductArray) > -1) {
                    $(this).removeClass('hidden');
                }
            });
        }
    </script>}